.formulaire {
  padding: 20px;
  box-shadow: 0 2px 2px 2px #363434;
  border-radius: 8px;
}

.description {
  align-items: center;
  margin-bottom: 10px;
}
label,
input,
textarea {
  display: block;
  margin-top: 5px;
  padding: 8px;
  outline: none;
  border-radius: 8px;
}

p {
  padding: 4px;

  text-align: center;
}

input,
textarea {
  width: 100%;
}

h1 {
  font-size: 14px;
}
